*{box-sizing: border-box;}

body {
  background-color: grey;
}

.container{
	display: block;
  width: 500px;
}


/*just stuff for the title box*/
.title-box{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dddddd;
  text-align: center;
}
.emphasis {
  font-size: 24px;
  font-family: sans-serif;
}
/*-------------------------*/

.preview {

}

img {
  max-width: 100%;
  max-height: 100%;
  border-bottom: 20px solid #dddddd;
  display: block;
}

.topleft {
  position: absolute;
  font-size: 36px;
  padding: 10px;
}

@media all and (max-width: 575px){
  .container{
  	display: inline-block;
    width: 80%;
  }

  img {
    max-width: 30%;
    max-height: 49%;
    border-bottom: 20px solid #dddddd;

  }
}
